
header{
    background: #fbbc02;
    height: 100px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 50%; */
    background-color: white;
    /* padding: 30px; */
    text-align: center;
    /* margin: 5% auto; */
    /* margin-top: 100px;
    border-radius: 20px; */
}
/* .controls{
    margin-bottom: 16px;
    border-radius: 4px;
    border-color: rgb(161, 159, 161);
} */
.banner{
    position: relative;
    left: 20px;
    top: 10px;
    text-decoration: none;
    color: black
}
.label{
    display: inline-block;
    width: 85px;
}
.form{
    background-color: #fbbc02;
}
/* .btn-log-in{
    position: relative;
    left: 1234px;
    top: 10px;
    text-decoration: none;
    color: black    
} */
.log-in{
    position: relative;
    left: 80%;
    top: 10px;
    text-decoration: none;
    color: black    
}/*
.bxs-log-in{
    position: relative;
    left: 1234px;
    top: 10px;
    text-decoration: none;
    color: black    
} */
.register{
    position: relative;
    left: 80%;
    top: 10px;
    text-decoration: none;
    color: black
}
.products{
    position: relative;
    right: 400px;
    top: 20px;
    text-decoration: none;
    color: black
    
}
.pay{
    position: relative;
    left: 60%;
    bottom: 15px;
    text-decoration: none;
    color: black
}
.bannercard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.btn-primary{
    color: black;
}
.title{
    text-align: center;
}
.p2{
    position: absolute;
}
.banneroutstanding{
    position: relative;
    display: flex;
    justify-content: space-around;

}
.card2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title{
    display: inline;
}
.logo-reg{
    height: auto;
    width: 400px;
}
#form{
    background-color: #fbbc02;
}